/*@font-face {
  font-family: "Ostrich Sans";
  src: url('fonts/ostrich-bold.ttf');
}*/

/* general styles */
body {
  font-family: 'Didact Gothic', sans-serif; 
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  background-color: #C4D7A4;
}

#wrap {
  width: 90%; 
  background-color: #FFF;/*#FFF7DF; */
  margin: 20px auto;
  padding: 10px 40px;
}
#main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* navigation */
nav {
  border-bottom: 1px solid #999;
  padding: 10px 0;
}
.nav-menu {
  text-align: center;
  font-size: 1.2em;
}
#logo {
  padding: 40px;
  text-align: center;
  font-size: 1.3em;
}
#logo a {
  text-decoration: none;
  color: #333;
}
/*.ciao {
  border-bottom: 1px solid black;
  letter-spacing: 1px;
  line-height: 40px;
  margin-bottom: 0px;
  padding-bottom: 10px;
} */
ul {
  list-style-type: none;
  padding:0 10px;
 
}
ul li {
 /* float: left; */
  display: inline; 
  padding: 10px; 
  margin: 10px;
  padding-right: 30px;
   
}
ul li a{
  text-decoration: none;
  color: #333;
}


#content {
  clear: both;
  padding-left: 30px;
  padding-right: 10px;
  overflow: hidden;
}

/* content */
#epic-wrap {
  margin: 0 auto;
  margin-top: 10px;
}
.epic {
  float: left;
  margin-right: 30px;
  padding: 20px;
}
.epic a img {
  border: none;
}
footer {
  clear: both;
  border-top: 1px solid #999;
  margin-top: 35px;
  padding: 20px;  
}
/* footer */
/*#copyright {
  float: left;
}*/

/* print page */
.side-images {
  margin: 10px;
}
.four-thumbs {
  float: left;
  padding: 15px;
}

/* other print pages */
.print-img {
  float: right;
  padding: 10px;
  margin-left: 20px;
}

#sidebar {
 /* width: 300px; */
  font-size: 0.9em;
  z-index: 1;
  line-height: 1.4em;
}
#sidebar h3 {
  padding-top: 10px;
  font-size: 1.2em;
}
#sidebar .role {
  font-weight: bold;
  letter-spacing: 0.06em;
  font-variant: small-caps;
  font-size: 1em;
}
.year {
  font-size: 0.8em;
}